# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
tools/bin
.idea
cpp/Makefile
cpp/cmake-build-debug
cpp/cmake-build-debug-coverage
cpp/Testing
cpp/cmake_install.cmake
cpp/CMakeCache.txt
cpp/CTestTestfile.cmake
llvm_bridge_test
libllvm_bridge.a
*.cbp
CMakeFiles